.settings/*
bin/*
target/*
test-output/*
txts/*
!.gitignore
.classpath
credentials.txt
uids.txt
jquery-ui-1.11.4.custom.zip
results.txt
/target/
/.project
PNCPRegression.txt
sampleFromPC.sh
PNCPRegression-QA.html
/PNCPSmokeTestsOutput.txt
MULReport.txt
FWTimeStamp.txt
Nodes.txt
PublicIPID.txt
Tags.txt
VMID.txt
/bin/
