<html>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<head>
		<title>Reading List</title>
		<link rel="stylesheet" ></link>
	</head>
	
	<body>
	
		<h2>Your Reading List</h2>
		<div th:unless="${#lists.isEmpty(books)}">
			<dl th:each="book : ${books}">
				<dt class="bookHeadline">
					<span th:text="${book.title}">Title</span> by
					<span th:text="${book.author}">Author</span>
					(ISBN: <span th:text="${book.isbn}">ISBN</span>)
				</dt>
				<dd class="bookDescription">
					<span th:if="${book.description}"
						  th:text="${book.description}">Description</span>
					<span th:if="${book.description eq null}">
						  No description available</span>
				</dd>
			</dl>
		</div>
		<div th:if="${#lists.isEmpty(books)}">
			<p>You have no books in your book list</p>
		</div>
		<hr/>
		
		<h3>Add a book</h3>
		<form method="POST">
			<label for="title">Title:</label>
				<input type="text" name="title" size="50"></input><br/>
			<label for="author">Author:</label>
				<input type="text" name="author" size="50"></input><br/>
			<label for="isbn">ISBN:</label>
				<input type="text" name="isbn" size="15"></input><br/>
			<label for="description">Description:</label><br/>
				<textarea name="description" cols="80" rows="5">
				</textarea><br/>
			<input type="submit"></input>
		</form>
		
		<!-- Using angular to load URL with user/isbn to remove the book entry   -->
		<h3>Remove a book</h3>
		<div ng-app="myApp" ng-controller="myCtrl">
    		user: <input ng-model="user"></input>
    		ISBN: <input ng-model="isbn"></input>
    		<h3>{{user}}/{{isbn}}</h3>
    		<a href="/readingList/{{user}}/{{isbn}}" >Delete</a>
		</div>
		<script>
			var app = angular.module('myApp', []);
			app.controller('myCtrl', function($scope) {
			    $scope.id = "";   
			});
		</script>
		
		  
	</body>
</html>